<div class="text-center">
    <h2> {{title}} </h2>
    <img class="rounded mx-auto d-block img-fluid m-4" width="15%" height="15%" src="../../assets/images/vse.png">
    <p>
        Mason Engineering is located in the heart of one of the East Coast's most active tech corridors, our
        undergraduate and graduate students have unparalleled access to the nation's top innovators.
        Elite science and technology organizations recognize our faculty as leaders in their fields. Professors bring
        industry knowledge to the classroom, challenging students to push the boundaries of research, skill,
        and application based on real-time knowledge of marketplace demand. Employers know a candidate with a degree
        from Volgenau will have skills that are up-to-date and highly valued.
    </p>

    <div class="w3-content w3-container w3-padding-64 mt-4" id="contact">
        <p style="color:rgb(0,102,51);">CONTACT INFORMATION</p>
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Address: Fairfax, VA<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +999-999-9999<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: knelavel@gmu.edu<br>
        <a href="https://volgenau.gmu.edu/">https://volgenau.gmu.edu</a>
    </div>
</div>