<h3> View Survey Details</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{survey.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{survey.lastName}}
    </div>
    <div>
        <label> <b> Street Address: </b></label> {{survey.StreetAddress}}
    </div>
    <div>
        <label> <b> City: </b></label> {{survey.City}}
    </div>
    <div>
        <label> <b> State: </b></label> {{survey.State}}
    </div>
    <div>
        <label> <b> ZipCode: </b></label> {{survey.ZipCode}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{survey.ZipCode}}
    </div>
</div>