<h3> Survey List</h3>
<table class="table">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Street Address</th>
            <th> City </th>
            <th> State </th>
            <th> Zip Code</th>
            <th> Telephone </th>
            <th> Email Id</th>
            <th>Date Of Survey</th>
            <th>Intersted In</th>
            <th>Most Like</th>
            <th>Recomming Others</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let survey of surveyDetails">
            <td> {{ survey.firstName || "" }} </td>
            <td> {{ survey.lastName || "" }} </td>
            <td> {{ survey.streetAddress || "" }} </td>
            <td> {{ survey.city || "" }} </td>
            <td> {{ survey.state || "" }} </td>
            <td> {{ survey.zip || "" }} </td>
            <td> {{ survey.telephoneNumber || "" }} </td>
            <td> {{ survey.email || "" }} </td>
            <td> {{ survey.dateOfSurvey || "" }} </td>
            <td> {{ survey.interestedIn || "" }} </td>
            <td> {{ survey.mostLiked?.join(",") || "" }} </td>
            <td> {{ survey.recommending || "" }} </td>
            <td> {{ survey.additionalComments || ""}} </td>
        </tr>
    </tbody>
</table>