<div class="text-center">
    <header>
        <h1>GMU - Department of Computer Science</h1>
    </header>
    <h2></h2>
    <p>The CS Department at Mason is the largest department in the College of Engineering and
        Computing.<b> The Computer Science discipline is concerned with the design, analysis, implementation,
            maintenance, and evolution of computer-based systems, and their associated theoretical foundations.</b> The
        department offers two Bachelor of Science programs with a total enrollment of over <b>2000</b> students: the
        B.S. in Computer Science and the inter-disciplinary B.S. in Applied Computer Science; four M.S. programs in
        Computer Science, Information Systems, Information Security and Assurance, and Software Engineering with a total
        enrollment of <b>500</b> students; and a Ph.D. program in Computer Science with nearly <b>150</b> students. The
        department's faculty also teach and participate in the inter-disciplinary M.S. in Data Analytics Engineering and
        the Ph.D. in Information Technology offered by the Volgenau School of Engineering.</p>

    <p><i>Last but not least, GMU is the largest and most diverse university in Virginia and the fastest
            growing public university in the nation. </i></p>

    <h2 style="color:rgb(0,102,51);">Masters Degrees in computer science</h2>
    <p>The department offers a wide range of masters programs:</p>
    <h6>Computer Science</h6>
    <h6>Software Engineering</h6>
    <h6>Information Systems</h6>
    <h6>Information Security and Assurance</h6>

    <p class="m-4" style="color:rgb(0,102,51);">COMPUTER SCIENCE</p>
    <div class="row justify-content-center">
        <div class="col-auto" id="table-div">
            <table border="1px">
                <tr>
                    <th>Course Number</th>
                    <th>Course Name</th>
                </tr>
                <tr>
                    <td>CS550</td>
                    <td>DataBase Management System</td>
                </tr>
                <tr>
                    <td>CS583</td>
                    <td>Analysis of algoithms</td>
                </tr>
                <tr>
                    <td>CS580</td>
                    <td>Introduction to AI</td>
                </tr>
                <tr>
                    <td>CS540</td>
                    <td>Language Processors</td>
                </tr>
                <tr>
                    <td>CS555</td>
                    <td>Computer Communications and Networking</td>
                </tr>
                <tr>
                    <td>CS571</td>
                    <td>Operating Systems</td>
                </tr>
                <tr>
                    <td>CS551</td>
                    <td>Computer Graphics</td>
                </tr>
            </table>
        </div>
    </div>

    <p class="m-4" style="color:rgb(0,102,51);">SOFTWARE ENGINEERING</p>
    <div class="row justify-content-center">
        <div class="col-auto" id="table-div">
            <table border="1px">
                <tr>
                    <th>Course Number</th>
                    <th>Course Name</th>
                </tr>
                <tr>
                    <td>SWE619</td>
                    <td>Object-Oriented Software Specification and Construction</td>
                </tr>
                <tr>
                    <td>SWE621</td>
                    <td>Software Design and Architecture</td>
                </tr>
                <tr>
                    <td>SWE632</td>
                    <td>User Interface Design and Development</td>
                </tr>
                <tr>
                    <td>SWE637</td>
                    <td>Software Testing</td>
                </tr>
            </table>
        </div>
    </div>

    <p class="m-4" style="color:rgb(0,102,51);">INFORMATION SYSTEMS</p>
    <div class="row justify-content-center">
        <div class="col-auto" id="table-div">
            <table border="1px">
                <tr>
                    <th>Course Number</th>
                    <th>Course Name</th>
                </tr>
                <tr>
                    <td>INFS612</td>
                    <td>Principles and Practices of Communication Networks</td>
                </tr>
                <tr>
                    <td>INFS622</td>
                    <td>Information Systems Analysis and Design</td>
                </tr>
                <tr>
                    <td>SWE632</td>
                    <td>User Interface Design and Development</td>
                </tr>
                <tr>
                    <td>INFS740</td>
                    <td>Database Programming for the World Wide Web</td>
                </tr>
            </table>
        </div>
    </div>

    <p class="m-4" style="color:rgb(0,102,51);">INFORMATION SECURITY AND ASSURANCE</p>
    <div class="row justify-content-center">
        <div class="col-auto" id="table-div">
            <table border="1px">
                <tr>
                    <th>Course Number</th>
                    <th>Course Name</th>
                </tr>
                <tr>
                    <td>ISA562</td>
                    <td>Information Security Theory and Practice</td>
                </tr>
                <tr>
                    <td>ISA656</td>
                    <td>Network Security</td>
                </tr>
            </table>
        </div>
    </div>
</div>