<div class="text-center">
    <h2> {{title}} </h2>
    <img class="rounded mx-auto d-block img-fluid m-4" width="15%" height="15%" src="../../assets/images/myimage.jpeg">
    <p>Hi, My name is Raasi. I am pursuing Masters degree in Software Engineering. This is my second semester in GMU.Previously, I worked for two years at Wipro as a Project Engineer.I worked for 5G Telecommunication Project, majorly worked on Docker and Kubernetes. Apart from academics, I really enjoy travelling and I love to play chess.
    
    </p>
    <input type="submit" (click)="gotoSurVeryList('cs-dept')" value="About CS Dept">
    <input class="m-2" type="submit" (click)="gotoSurVeryList()" value="Survey Details">
    <input class="m-2" type="submit" (click)="gotoSurVeryList('createSurvey')" value="Create Survey">
</div>